 <footer class="footer">
            <div>
                <h3>
                    All A-Board
                </h3>
            </div>
            <div>
                <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://en-gb.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://twitter.com/?lang=en"><i class="fa-brands fa-twitter"></i></a>
            </div>
            <div>
                <h4> &copy; Copyright 2022</h4>
            </div>
 </footer>
