<h1>Trade Information Page</h1>
<p>Instructions: Replace the content of this file with the actual HTML for your page.</p>

<!-- Trade Information -->
<% let tradeInfo = pageData["trade"] %>

<!-- Title of the game that is being offered -->
<h2><%=tradeInfo.initiator_game_name %></h2>
<p><%=tradeInfo.initiator_username %></p>

<!-- TODO: Add other details when fields have been decided -->